.bizKimik{
    margin-top: 20px;
    width: 100%;
    /* background-color: red; */
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bKContainer{
    width: 80%;
    /* height: 70vh; */
    /* background-color: red; */
    display: flex;

}

.bizKimikImg{
    width: 45%;
    /* height: 100%; */
    border-right: 1px solid #FF6400;
    background-color: #FF6400;
    border-bottom:1px solid #FF6400;
}

.bizKimikImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* mix-blend-mode: hard-light; */
}

.bizKimikText{
    width: 55%;
    /* height: 100%; */
    border-top: 1px solid #FF6400;
    border-left: none;
    background-color: #ff660017;
}

.textPadding{
    padding: 50px;
}

.bizKimikText h1{
    padding-bottom: 20px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.textPadding p{
    font-size:19px;
    text-align: justify;
    line-height: 1.4;
    font-family: sans-serif;
}


.loadMore{
    margin-top: 30px;
    width: 25%;
    padding: 10px;
    border: 1px solid #FF6400;
    /* border-radius: 10px; */
    cursor: pointer;
    transition: .6s;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 5px;
    color: black;
}

.loadMore p{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: .6s;
}

.loadMore:hover p{
    scale: 0.9;
    color: white;
}

.loadMore:hover{
    background-color: #ff6600cd;
}