.projects{
    margin-top: 80px;
    width: 100%;
    display: grid;
    place-items: center;
}

.proContainer{
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;gap: 25px;
    width: 85%;    
}




    .lahiyeler{
        width: 100%;
        height: 30vh;
        background-color: #FF6400;
    }

    .lahiyePadding{
        text-align: center;
        padding: 50px ;
    }

    .lahiyePadding p{
        margin-bottom: 30px;
        color: #fff;
        font-size: 50px;
        font-weight: 900;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .lahiyePadding a{
        font-size: 20px;
        padding-top: 50px;
        color:#fff ;
        transition: .3s;
    }

    .lahiyePadding a:hover{
        color: #030F27;
    }